.mt-50px {
	position: absolute;
	top: 50px;
	.hover-custom {
		color: #b7bdbb;
		&:hover {
			color: #e43f5a;
		}
	}
	.active {
		color: #e43f5a;
	}
}
abbr[title], acronym[title] {
	text-decoration: none;
}
@media (max-width: 576px) {
	.d-off {
		display: none;
		margin: 0;
	}
	.mt-50px {
		display: none;
	}
}
